/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
  tapping-term-ms = <200>;
};

&lt {
  tapping-term-ms = <200>;
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                  display-name = "Base";
// -----------------------------------------------------------------------------------------
// |  ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  ENT |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | BSPC |
//                    | CTRL| LWR | SHFT|   | ENT | RSE  | DEL |
                        bindings = <
    &kp ESC   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
    &kp C_BRI_UP &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp ENTER &kp C_VOL_UP
    &kp C_BRI_DN &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp BSPC &kp C_VOL_DN
                  &mt LCTRL ESC &lt 1 SPACE &kp LSHFT   &mt LALT TAB &lt 2 SPACE &mt LGUI DEL
                        >;
                };

                lower_layer {
                  display-name = "First layer";
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp TAB    &kp N7  &kp N8  &kp N9  &kp DOT  &kp PLUS         &kp ASTRK   &kp DLLR   &kp COLON &kp PIPE  &kp GRAVE &kp BSPC
   &kp C_BRI_UP &kp N4  &kp N5  &kp N6  &kp N0   &kp MINUS        &kp SLASH   &kp HASH   &kp LBRC  &kp RBRC  &kp SEMI    &kp C_VOL_UP
   &kp C_BRI_DN  &kp N1  &kp N2  &kp N3  &trans   &kp EQUAL        &kp BSLH       &kp AMPS   &kp LT    &kp GT    &kp SQT    &kp C_VOL_DN
                      &kp LGUI  &trans  &kp SPACE      &kp RET  &trans  &kp RALT
                        >;
                };

                raise_layer {
                  display-name = "Second layer";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp  TAB  &kp TILDE &kp PRCNT &kp UNDER  &kp CARET  &kp PLUS      &kp CARET  &kp AMPS  &kp UP &kp LPAR  &kp RPAR &kp BSPC
   &kp LCTRL &kp AT    &kp DQT   &kp EXCL   &kp QMARK  &kp MINUS     &kp SLASH   &kp LEFT  &kp DOWN    &kp RIGHT &kp BSLH &kp GRAVE
   &BT_CLR_ALL    &kp LBKT  &kp RBKT  &kp LPAR   &kp RPAR   &kp EQUAL     &kp BSLH  &kp PLUS  &kp LBRC  &kp RBRC  &kp PIPE &kp TILDE
                                      &kp LGUI &kp CAPS   &kp SPACE   &kp RET   &trans    &kp RALT
                        >;
                };
        };
};
